.me-3 {
    margin-right: 0 !important;
}

.row>* {
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-3 {
    border-right: 1px solid gray;
    height: 100vh;
} 

.logo-img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 14px 16px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #f5c014;
    font-weight: 500;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #000000;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    padding: 14px 16px;
}

.nav-link:focus,
.nav-link:hover {
    color: #000000;
    font-weight: 500;
    cursor: pointer;
}

.nav {
    padding-left: 15px;
}

.col-md-9 {
    background-color: #d9d5d5;
}

.navbar_container {
    padding-top: 15px;
}

.column1 {
    float: left;
    width: 50%;
}

.column2 {
    float: right;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.navbar_container:after {
    content: "";
    display: table;
    clear: both;
}

.tab-content {
    padding-top: 4.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.addbtndiv {
    display: flex;
    justify-content: flex-end;
    padding: 3rem 2rem;
}

.addnewbtn {
    background-color: #f5c014;
    border: none;
    border-radius: 8px;
    padding: 8px 35px;
}

.col-md-4 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.card_view {
    display: flex;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card_view {
    flex: 0 0 auto;
    width: 60%;
}